.container {
    display: flex;
    justify-content: center;

 > div {
    text-align: center;
 }
  h1 {
    text-align: center;
    padding: 40px 20px;
  }
  .form_container {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.button_containerhoe {
  display: flex;
  justify-content: center;
}
